body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #dde9eb;
}

main {
  max-width: 600px;
  padding: 1.5em;
}

img {
  border-radius: 15px;
}

p, li{
    font-size: 1.2rem;
}
